body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #000;
}

[class*="__container"] {
    max-width: 90%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // PC
    @media (max-width: 1140px) {
    }
    // TABLET
    @media (max-width: 991.98px) {
        max-width: 845px;
    }
    // MOBILE
    @media (max-width: 767.98px) {
        max-width: none;
    }
    // SMALL MOBILE
    @media (max-width: 469.98px) {
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: 1fr auto / 100%;

    &_index {
        grid-template: 125vh 1fr auto / 100%;

        /**MOBILE**/
        @media (max-width: 767.98px) {
            grid-template: 125vw 1fr auto / 100%;
        }
    }
}

.main {
    max-width: 100%;
    margin: 50px 0 0 0;
}

.section-center {
    padding: 1em;
    text-align: center;
    p {
        margin: 0 0 1.2em 0;

        &:last-child {
            margin: 0;
        }
    }

    // MOBILE
    @media (max-width: 767.98px) {
        text-align: left;
    }
}
