.schemas {

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2em;

        // TABLET
        @media (max-width: 991.98px) {
            gap: 1em;
        }
    }

    &__item {
        height: 550px;

        &_wall {
            background: url('../img/schemas_bg/wall.jpg') 0 0/cover no-repeat fixed;

        }

        &_duct {
            background: url('../img/schemas_bg/duct.jpg') 0 0/cover no-repeat fixed;
        }

        &_central {
            background: url('../img/schemas_bg/central.jpg') 0 0/cover no-repeat fixed;
        }

        // TABLET
        @media (max-width: 991.98px) {
            background: none !important;
            height: auto;
        }
    }
}