.nav {
    font-size: 0.8rem;

    /**TABLET**/
	@media (max-width: 991.98px) {
        &:last-child &__content {
            left: auto;
            right: 0;
        }
    }

    /**MOBILE***/
	@media (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #5ab2cf;
        z-index: 5;
        transform: translateY(-9999px);
    }
    &__lang {
        flex: 0 0 75px;
        width: 150px;
    }

    &__list {
        display: flex;
        justify-content: flex-end;

        /**MOBILE**/
		@media (max-width: 767.98px) {
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        height: 50px;

        &:hover .nav__content {
            display: block;
            transition: all 0.2s;
        }

        /**MOBILE**/
		@media (max-width: 767.98px) {
            flex-direction: column;
            position: static;
            font-size: 1.5rem;
            padding: 0 1%;
            margin: 10% 0 0 0;
            height: auto;

            @media (orientation: landscape) {
                margin: 2% 0 0 0;
                font-size: 1.2rem;
            }
        }


    }

    &__title {
        padding: 10px 16px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            color: #000;
            transition: all 0.1s;
        }

        /**MOBILE**/
		@media (max-width: 767.98px) {
            align-self: flex-start;
	
            &:hover {
                transform: none;
                color: $dark_text_color;
                transition: none;
                cursor: default;
            }

            @media (orientation: landscape) {
                padding: 1% 16px;
            }
        }
    }

    &__content {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        min-width: 300px;
        background-color: $dark_bg_color;
        box-shadow: 0px 8px 16px 0px rgba(93, 179, 190, 0.25);
        z-index: 3;

        /**MOBILE**/
		@media (max-width: 767.98px) {
            display: block;
            position: static;
            width: 100%;
            background-color: #5ab2cf;
            text-align: right;
        }
    }

    &__link {
        display: block;
        padding: 12px 16px;
        color: $light_text_color;

        &:hover {
            background-color: rgba(93, 179, 190, 0.2);
            transition: all 0.5s;
        }

        /**MOBILE**/
		@media (max-width: 767.98px) {
            &:hover {
                transform: translate(-2%, 0);
                transition: all 0.5s;
                cursor: pointer;
            }
            @media (orientation: landscape) {
                padding: 1% 16px;
            }
        }
    }

    &_burger-active {
        /**MOBILE**/
		@media (max-width: 767.98px) {
            transform: translateY(0);
            transition: transform 0.4s;
        }
    }
}