.nav {
    font-size: 0.8rem;
    height: 100%;

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        // MOBILE
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover .nav__content {
            display: block;
            transition: all 0.2s;
        }

        // MOBILE
        @media (max-width: 767.98px) {
            flex-direction: column;
            width: 100%;
            font-size: 1.2rem;
        }
    }

    &__title {
        padding: 10px 10px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            color: #000;
            transition: all 0.1s;
        }

        @media (max-width: 767.98px) {
            width: 100%;
            text-align: left;

            &:hover {
                transform: none;
                color: $dark_text_color;
                transition: none;
            }
        }
    }

    &__content {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        min-width: 300px;
        background-color: $dark_bg_color;
        box-shadow: 0px 8px 16px 0px rgba(93, 179, 190, 0.25);
        z-index: 3;

        @media (max-width: 767.98px) {
            display: block;
            position: static;
            background-color: $alter_color;
            width: 100%;
            margin: 5px 0 0 0;
        }
    }

    &__link {
        display: block;
        padding: 12px 16px;
        color: $light_text_color;

        &:hover {
            background-color: rgba(93, 179, 190, 0.2);
            transition: all 0.5s;
        }

        // MOBILE
        @media (max-width: 767.98px) {
            text-align: right;
            margin: 10px 0 0 0;
        }
    }
}
