.title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: $dark_text_color;
    padding: 1em;

    // MOBILE
    @media (max-width: 767.98px) {
        font-size: 1.15rem;
    }
}